/* Global styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Light gray background */
  }
  
/* Navbar.css */

/* Navigation bar styles */

.navigation {
    background-color: #343a40; /* Dark gray background */
}

.navbar {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between; /* Distribute items evenly */
    align-items: center; /* Center items vertically */
}

.navbar-brand {
    font-size: 1.5rem;
    color: #ffffff; /* White color for the brand/logo */
    position: relative;
}

.navbar-brand:hover {
    color: #ffc107; /* Yellow color on hover */
}

.navbar-nav {
    display: flex;
    margin-left: auto; /* Push nav-items to the right */
}

.navbar-nav .nav-item {
    margin-left: 1rem; /* Add space between items */
    margin-right: auto;

}

.navbar-nav .nav-link {
    color: #ffffff; /* White color for navigation links */
}

.navbar-nav .nav-link:hover {
    color: #ffc107; /* Yellow color on hover */
}
  
  
  
  /* Home page styles */
  
  .home {
    padding: 3rem 0;
  }
  
  .container {
    max-width: 1200px; /* Maximum width for the container */
    margin: 0 auto; /* Center the container */
  }
  
  .home img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Rounded corners for the image */
  }
  
  .home h1 {
    font-size: 2.5rem;
    color: #343a40; /* Dark gray color for the heading */
    margin-bottom: 1.5rem;
  }
  
  .home p {
    font-size: 1.2rem;
    color: #6c757d; /* Gray color for the paragraph */
  }
  
  